<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="mailto: akashcse2000@gmail.com" class="btn btn-secondary w-100 my-1"><i class="bi bi-envelope"></i>&nbsp;&nbsp;&nbsp;akashcse2000@gmail.com</a>
        <a href="tel:+918608550403" class="btn btn-secondary w-100 my-1"><i class="bi bi-telephone"></i>&nbsp;&nbsp;&nbsp;+91 8608550403</a>
      </div>
      <div class="modal-footer">
        <a href="https://www.instagram.com/akash.a.2000/" target="_blank"><i class="bi bi-instagram" style='font-size:35px; color: rgb(161, 17, 161);'></i></a>
        <a href="https://www.facebook.com/akash.a.2000/" target="_blank"><i class="bi bi-facebook" style='font-size:35px; color: #3b5998;'></i></a>
        <a href="https://twitter.com/AkashA53184506" target="_blank"><i class="bi bi-twitter" style='font-size:35px; color: #55acee;'></i></a>
        <a href="https://www.linkedin.com/in/akash-2000-cse/" target="_blank"><i class="bi bi-linkedin" style='font-size:35px; color: #0077b5;'></i></a>
        <a href="https://api.whatsapp.com/send/?phone=918608550403&text=Hi&type=phone_number&app_absent=0" target="_blank"><i class="bi bi-whatsapp" style='font-size:35px; color: #43d854;'></i></a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href=".">Nocturnal Freelance Services</a>
      <button id="btn-animation" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button>
    </div>
</nav>