<h1>About NFS</h1>
<div class="about-container">
    <img src="../../assets/images/ceo.jpeg" alt="profile" class="ceo-profile">
    <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;Hey there, I'm <a href="https://helloakash.vercel.app" target="_blank" style="color: #6C63FF; text-decoration:none">Akash</a>, A Professional Web Developer who heads Nocturnal Freelance Services(NFS) with {{exp}} years of experience.
        I help people and brands to grow and reach a wider audience.
        Trust me; you will love my work just like my other {{exp < 5 ? (exp - 2)*10 : (exp + 1)*10}}+ clients.
        Thanks, looking forward to hearing from you :)
    </h5>
</div>