<h1>Services</h1>
<div class="services-container">
    <div *ngFor="let data of services" class="card" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{data.illustration}} class="img-fluid rounded-start" alt="image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{data.title}}</h5>
                    <p class="card-text">{{data.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>